* {
  font-family: 'Montserrat', sans-serif;
}

.head img {
  width: 180px;
  padding: 10px;
  transition: width 0.8s linear 0.2s;
}

.head img:hover {
  width: 200px;
}

.head .bases-container {
  text-align: right;
}

.head .btn-bases {
  background: #17AFDE;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid orange;
}

.head .btn-bases p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin-top: 5px;
}

.head .btn-bases:hover {
  background: #16708C;
}

.navbar-default {
  background-color: rgba(200, 200, 200, 0) !important;
  border: 0px;
  border-color: transparent !important;
  margin-bottom: 0px !important;
}

.navbar-default ul li a {
  color: orange !important;
  font-weight: bold;
  font-size: 16px;
}

.navbar-default ul li:hover {
  border-bottom: 3px solid orange;
}

.navbar {
  height: 100px;
}

.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, transparent 100%) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, transparent 100%) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(transparent)) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, transparent 100%) !important;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, transparent 100%) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, transparent 100%) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(transparent)) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, transparent 100%) !important;
}

.carousel-slide {
  margin: 0px auto;
}

.section-a .cup .cup-content {
  margin-top: 50px;
}

.section-a .cup .cup-content p {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.section-a .cup .cup-content figure {
  display: inline-block;
}

.section-a .cup .cup-content figure img {
  width: 30px;
  transition: width 0.5s linear 0.2s;
}

.section-a .cup .cup-content figure img:hover {
  width: 40px;
}

.section-a .content-a {
  background-color: rgba(156, 156, 156, 0.4);
  padding: 20px;
  margin-top: 10px;
  border: 3px solid orange;
}

.section-a .content-a p {
  display: inline-block;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}

.section-a .content-a p #red-text {
  color: red;
  font-size: 35px;
  margin-left: 30px;
  vertical-align: middle;
}

.section-a .content-a p #sub-text {
  font-size: 20px;
  font-weight: lighter;
  color: orange;
}

@media (max-width: 767px) {
  .navbar-default .bg-nav .navbar-right li {
    z-index: 10 !important;
    background-color: rgba(33, 33, 33, 0.8);
  }
}

@media (min-width: 768px) {
  .navbar-default .bg-nav .navbar-right {
    margin-top: 45px;
  }
}
