
$redcolor: #DF2C41;


*{
	font-family: 'Montserrat', sans-serif;

}


body{
	background-color: #FF0033;
}

.head{
	
	img{
		width: 240px;
		padding: 10px;
		padding-top: 20px;
		transition: width 0.8s linear 0.2s;
		
	}
	img:hover{

		width: 280px;

	}
	.bases-container{
		text-align: right;
	}
	.btn-bases{
		
		
		background: #5B5B5B;
		
		display: inline-block;
		margin-top: 10px;
		//border-radius: 4px;
		
		width: 150px;
		

		p{
			color: #FFA500;
			text-align: center;
			font-weight: bold;
			font-size: 12px;
			font-style: italic;
			margin: 5px 0px 5px 0px;
		}
	}
	.btn-bases:hover{
		background: #DF2C41;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
		p{
			color: white;
		}
		

	}
	.btn-inscripcion{
		background: #DF2C41;
		
		display: inline-block;
		margin-top: 10px;
		//border-radius: 4px;
		
		width: 190px;

		

		p{
			color: white;
			text-align: center;
			font-style: italic;
			font-size: 12px;
			font-weight: bold;
			margin: 5px 0px 5px 0px;
			i{margin-right: 5px;}
		}
		.btn-inscripcion{
			-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
		}

	}
	a.social-link{
		color: white !important;
	}
	.social-top{
		width: 35px;
		text-align: center;
		margin-top: 10px;
		display: inline-block;
		background-color: #334C8E;
		padding: 3px 0px 4px 0px;
		
		.fa-facebook-official{
			font-size: 20px;
			color: white !important;
			
		}

	}
	
	
}
header{
	height: 50px;

}
.navbar-default{
	background-color: rgba(200,200,200,0) !important;
	border: 0px;
	border-color: rgba(0,0,0,0)!important;
	margin-bottom: 0px !important;
	height: 50px;

	.navbar-header{
		
		a{
			//padding: 0px;
			//height: 140px !important;
			img{
				//width: 140px;
				//padding: 10px;
			}
		}
	}
	ul{
		li{
			a{
				color: orange !important;
				font-weight: bold;
				font-size: 16px;
			}
			
		}
		li:hover{
			border-bottom: 3px solid $redcolor;
		}
	}
}

.navbar{
	height: 100px;
}

.carousel-control.right {
    //right: 131px !important;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%)!important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0) 100%)!important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,0)))!important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%)!important;
}

.carousel-control.left{
	//left: 15px !important;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%)!important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0) 100%)!important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,0)))!important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%)!important;
}
.carousel-inner{
	//width: 90%;
}
.carousel-slide{
	margin: 0px auto;
}


.section-a{
	.cup{

		
		
		.cup-content{
			margin-top: 50px;

			p{
				display: inline-block;
				font-size: 20px;
				font-weight: bold;
				color: white;
			}
			figure{
					display: inline-block;
					img{
						width: 30px;
						transition: width 0.5s linear 0.2s;
					}
					img:hover{
						width: 40px;
					}
			}

		}
				
	}
	
	.content-a{
		background-color: rgba(156,156,156,0.4);
		padding: 20px;
		//border-radius: 5px;
		margin-top: 10px;
		border: 3px solid orange;

		
		p{
			display: inline-block;
			font-size: 30px;
			color: white;
			font-weight: bold;
			margin-left: 30px;
			#red-text{
				color: red;
				font-size: 35px;
				margin-left: 30px;
				vertical-align: middle;

			}
			#sub-text{
				font-size: 20px;
				font-weight: lighter;
				color: orange;
			}
		}
	}
}
.auspiciadores{
	margin-top: 30px;
	background-color: #070707;
	padding: 20px;
	border: 7px solid white;
	.logo-auspicios{
		margin-left: 20px;
	}
	figure{
		text-align: center;
		
		img{
			width: 170px;
		}
	}
}


label {
	width: 100%;	
	padding: 4px;
	color: orange !important;
	font-weight: bold;
	font-size: 16px;
}
textarea{
	width: 100%;	
	padding: 4px;
	margin: 5px 5px;
	background-color: rgba(156, 156, 156, 0.4) !important;	
	border: 0px !important;
	

}
textarea:focus{
	color: white;
}
textarea:enabled{
	color: white;
}

input {
	width: 100%;	
	padding: 4px;
	margin: 5px 5px;
	background-color: rgba(0,0,0,0) !important;	
	border: 0px !important;
	border-bottom: 2px solid orange !important;
}
input[type="submit"]{
	background-color: rgba(156, 156, 156, 0.4) !important;
	border-bottom: 0px !important;
	color: white;
	margin-top: 10px;
}
input:focus{
	color: white;
}
input:enabled{
	color: white;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

#formulario {
	width: 400px;
	margin: 0 auto;
	
	padding: 10px 30px;
	border-radius: 6px;
	border:thin #C1C1C1;
}



.tit{
	h2{
		color: orange !important;
	}
}







@media (max-width: 767px){
	.navbar-default{
		
		.bg-nav{

			.navbar-right{
				
				li{
					z-index: 10 !important;
					background-color: rgba(33,33,33,0.8);
				}
			}
		}
	}
	.footer{
		height: 400px;
	}

	

	
			
			
	
}

@media (min-width: 768px){
	.navbar-default{
		
		.bg-nav{

			.navbar-right{
				margin-top: 0px;
				
				
			}
		}
	}
	.footer{
		height: 400px;
	}


}

@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 992px) and (max-width: 1269px){

}
@media (min-width: 1270px){
	.head{
		
		img{
			
			//margin-left: 100px;
		}
	}
}